[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is for testing git
[access "refs/*"]
	owner = group user/Swati1723
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Swati1723
	label-Verified = -1..+1 group user/Swati1723
	push = group user/Swati1723
	read = group user/Swati1723
	rebase = group user/Swati1723
	removeReviewer = group user/Swati1723
	submit = group user/Swati1723
[access "refs/heads/*"]
	create = group user/Swati1723
	push = +force group user/Swati1723
	pushMerge = group user/Swati1723
	read = group user/Swati1723
[access "refs/tags/*"]
	push = group user/Swati1723
	push = +force group user/Swati1723
